header {
background-color:MediumSeaGreen;
color:white;
text-align:center;
padding:5px;     
}
footer {
background-color:LightSteelBlue ;
color:white;
clear:both;
text-align:center;
padding:5px;         
}
