table {
border-collapse: collapse;
width: auto;
margin-left: 300px;
}
th, td {
text-align: left;
padding: 8px;
}
tr:nth-child(even){background-color: #f2f2f2}
th {
background-color: #4CCF50;
color: white;
}
tr:hover {background-color: #f5f5f5}

